<div class="page2 animate-fade" ng-controller="PageCtrl">
    <div ng-if="totalPages>1">
        <span ng-if="pageIndex>1" ng-click="go(1)">首页</span>
        <span ng-if="pageIndex>1" ng-click="go(pageIndex-1)">&lt;</span>
        <span class="omit" ng-if="pageIndex-3>0" ng-click="go(pageIndex-3)">{{pageIndex-3}}</span>
        <span class="omit" ng-if="pageIndex-2>0" ng-click="go(pageIndex-2)">{{pageIndex-2}}</span>
        <span class="omit" ng-if="pageIndex-1>0" ng-click="go(pageIndex-1)">{{pageIndex-1}}</span>
        <span class="font-red">{{pageIndex}}</span>
        <span class="omit" ng-if="pageIndex+1<=totalPages" ng-click="go(pageIndex+1)">{{pageIndex+1}}</span>
        <span class="omit" ng-if="pageIndex+2<=totalPages" ng-click="go(pageIndex+2)">{{pageIndex+2}}</span>
        <span class="omit" ng-if="pageIndex+3<=totalPages" ng-click="go(pageIndex+3)">{{pageIndex+3}}</span>
        <span ng-if="pageIndex<totalPages" ng-click="go(pageIndex+1)">&gt;</span>
        <span ng-if="pageIndex<totalPages" ng-click="go(totalPages)">尾页</span>
        <span class="z omit">转到<input type="text" ng-model="$parent.goPage" ng-keypress="go2($event)"/>页</span>
    </div>
</div>